<!DOCTYPE html>
<html lang="pt" class="layout-compact dark-style layout-menu-collapsed">
    {% load static %}
    {% load menu_tags %}

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
        <!--Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap" rel="stylesheet">

        <!-- Icons -->
        <link rel="stylesheet" href="{% static 'assets/vendor/fonts/remixicon/remixicon.css' %}" />


        <!--Core CSS -->
        <link rel="stylesheet" href="{% static 'assets/vendor/libs/node-waves/node-waves.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/vendor/css/core-dark.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/vendor/css/theme-default-dark.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/vendor/css/datatables.bootstrap5.css' %}" />


        {% comment %} <link rel="stylesheet" href="{% static 'css/demo.css' %}" /> {% endcomment %}

        <!--Vendor CSS-->
        <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
        {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endcomment %}
        <title>Primos Gamer{% block title %}{% endblock %}</title>

        <!-- Helpers -->
        <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
        <script src="{% static 'assets/vendor/js/helpers2.js' %}"></script>

        <!--? Template customizer: To hide customizer set display_customizer value false in config.js.  -->
        <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
        <script src="{% static 'assets/vendor/js/config.js' %}"></script>
    </head>

    <body>
        <div class="layout-wrapper layout-content-navbar">
            <div class="layout-container">
                {% comment %} {% load_menu %} {% endcomment %}

                <div id="content" class="layout-page window-scrolled">
                    {% load_navbar %}
                    {% load_horizontal_menu %}
                    <div class"content-wrapper">
                        <div class="container-xxl flex-grow-1 container-p-y">
                            {% block content %}
                            {% endblock content %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Core Javascript-->
        <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
        <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
        <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
        <script src="{% static 'assets/vendor/libs/node-waves/node-waves.js' %}"></script>
        <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
        <script src="{% static 'assets/vendor/js/menu2.js' %}"></script>
        <script src="{% static 'assets/vendor/js/main2.js' %}"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>