<aside id="layout-menu" class="layout-menu-horizontal menu-horizontal menu bg-menu-theme flex-grow-0" data-bg-class="bg-menu-theme" style="touch-action: none; user-select: none;">
    <div class="container-xxl d-flex h-100">
        <a href="#" class="menu-horizontal-prev d-none"></a>
        <div class="menu-horizontal-wrapper">
            <ul class="menu-inner" style="margin-left: 0px;">
                {% for item in itens_menu %}
                    <li class="menu-item">
                        <a href="{{item.url}}" class="menu-link">
                            <i class="menu-icon tf-icons {{item.icone}}"></i>
                            <div>{{item.titulo}}</div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <a href="#" class="menu-horizontal-next d-none"></a>
    </div>
</aside>