{% extends "base.html" %}

{% block title %} - Produtos {% endblock %}

{% block content %}
    <div class="g-3">
        <div class="row g-6">
            <div class="col-lg-8">
                <div class="card mb-6">
                    <div class="card-header d-flex flex-wrap justify-content-between gap-4">
                        <h5 class="mb-0">{{ produto.nome }}</h5>
                        <div class="d-flex align-items-center">
                            <span class="badge bg-label-primary rounded-pill">{{ produto.tipo.nome }}</span>
                            <i class="ri-share-forward-line ri-24px mx-4"></i>
                            <i class="ri-bookmark-line ri-24px"></i>
                        </div>
                    </div>
                    <div class="card-body mt-1">
                        <div class="card academy-content shadow-none border">
                            <div class="p-2">
                                {% comment %} Tarefa 24: Implemente seu código aqui. {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        {% comment %} Tarefa 24: Implemente seu código aqui. {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}