{% extends "base.html" %}

{% block title %} - Categorias {% endblock %}

{% block content %}
    {% if mensagem %}
        <h4>{{ mensagem }}</h4>
    {% endif %}

    {% if categorias %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th colspan="2">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
                <tr>
                    <td>{{categoria.id}}</td>
                    <td><a href="{% url 'detail' categoria.id %}">{{ categoria.nome }}</a></td>
                    <td><a href="{% url 'update' categoria.id %}">Editar</a></td>
                    <td><a href="{% url 'delete' categoria.id %}">Excluir</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>   
    {% else %}
        <p>Não há categorias cadastradas</p>
    {% endif %}

    <p><a href="{% url 'create' %}">Nova Categoria</a></p>
{% endblock %}
